<!-- Clients (Logos autoplay slider) -->
<section class="pt-2">
  <div class="container text-center">
    <h2 class="h1 mb-2">Our Clients</h2>
  </div>

  <!-- First Swiper - Normal direction -->
  <div class="swiper partners-swiper-normal pb-3 pb-sm-4 mb-xl-2">
    <div class="swiper-wrapper" style="transition-timing-function: linear !important;">
      @for (item of partnersList; track item.name) {
        <div class="swiper-slide">
          <img class="d-block d-dark-mode-none mx-auto" [src]="item.logo" width="196" [alt]="item.name">
          <img class="d-none d-dark-mode-block mx-auto" [src]="item.logo" width="196" [alt]="item.name">
        </div>
      }
    </div>
  </div>

  <!-- Second Swiper - RTL direction with reversed partners -->
  <div class="swiper partners-swiper-rtl" dir="rtl">
    <div class="swiper-wrapper" style="transition-timing-function: linear !important;">
      @for (item of reversedPartnersList; track item.name) {
        <div class="swiper-slide">
          <img class="d-block d-dark-mode-none mx-auto" [src]="item.logo" width="196" [alt]="item.name">
          <img class="d-none d-dark-mode-block mx-auto" [src]="item.logo" width="196" [alt]="item.name">
        </div>
      }
    </div>
  </div>
</section>
