section {
  //border: 1px solid red;
}

img {
    height: 520px;
    object-fit: cover;
}

//Hero btn
.legacy-btn {
  display: flex;
  gap: 16px;
  //justify-content: center;
  flex-wrap: wrap;

  a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 28px;
    //border-radius: 50px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;

    i {
      transition: transform 0.3s ease;
    }

    &:hover i {
      transform: translateX(5px);
    }
  }

  .btn-primary {
    background: #f57d00;
    color: white;
    border: none;

    &:hover {
      background: #F58220;
      transform: translateY(-2px);
      box-shadow: 0 5px 15px rgba(43, 163, 53, 0.3);
    }
  }

  .btn-outline {
    background: transparent;
    color: #f57d00;
    border: 2px solid rgba(245, 130, 32, 0.3);

    &:hover {
      border-color: #2ba335;
      color: #2ba335;
      transform: translateY(-2px);
      background: rgba(43, 163, 53, 0.1);
    }
  }
}
